<header>
    <div class="header-item">
        <a href="#" class="circle">
            <img src="../../../assets/logo.webp" alt="" class="icon">
        </a>
        <a href="#" class="item">Home</a>
        <a href="#" class="item">Create</a>
    </div>
    <div class="header-item">
        <div class="search">
            <input type="text" placeholder="Search">
        </div>
    </div>
    <div class="header-item">
        <a href="#" class="item">Notifications</a>
        <a href="#" class="item">Message</a>
        <a href="#" class="item">Me</a>
    </div>
</header>